Repository SNRose0317/EHR-CRM-System, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, medication-builder, config, dependencies, tests, ci, performance, security, types, styles, build

docs: Add comprehensive beginner developer workflow documentation
  docs/BEGINNER_WORKFLOW.md
  docs/DEPLOYMENT.md
  docs/VERCEL_SETUP.md
  docs/WORKFLOW_CHECKLIST.md
Labels: documentation

Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: config, ci

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: config, ci

fix: Correct CI/CD workflows for pnpm/npm project structure
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/pr-checks.yml
Labels: config, ci

fix: Make CI more resilient and fix critical import paths
  .github/workflows/ci.yml
  packages/medication-builder/src/index.ts
  packages/medication-builder/src/lib/dispatcher/StrategyDispatcher.ts
  packages/medication-builder/src/lib/dispatcher/errors.ts
Labels: medication-builder, config, ci

fix: Make npm audit non-blocking in CI
  .github/workflows/ci.yml
Labels: config, ci

.github/labeler.yml:

# Auto-labeling configuration for pull requests

# Documentation changes
documentation:
  - '**/*.md'
  - 'docs/**/*'
  - '**/*.mdx'

# Frontend changes
frontend:
  - 'packages/platform-core/**/*'
  - 'packages/ui-kit/**/*'

# Backend/API changes
backend:
  - 'packages/shared/**/*'
  - '**/api/**/*'

# Medication builder changes
medication-builder:
  - 'packages/medication-builder/**/*'

# Configuration changes
config:
  - '**/*.json'
  - '**/*.yml'
  - '**/*.yaml'
  - '**/.*rc*'
  - '**/.env*'
  - '**/vite.config.*'
  - '**/package.json'
  - '**/pnpm-lock.yaml'

# Dependencies
dependencies:
  - 'package.json'
  - 'pnpm-lock.yaml'
  - '**/package.json'

# Tests
tests:
  - '**/*.test.*'
  - '**/*.spec.*'
  - '**/test/**/*'
  - '**/__tests__/**/*'

# CI/CD
ci:
  - '.github/**/*'
  - '**/workflows/**/*'

# Performance
performance:
  - '**/performance/**/*'
  - '**/*.benchmark.*'

# Security
security:
  - '**/security/**/*'
  - '**/.nvmrc'
  - '**/audit**'

# Types
types:
  - '**/types/**/*'
  - '**/*.d.ts'

# Styles
styles:
  - '**/*.css'
  - '**/*.scss'
  - '**/*.tailwind*'

# Build system
build:
  - '**/vite.config.*'
  - '**/turbo.json'
  - '**/tsconfig.*'
  - '**/rollup.config.*'
  - '**/webpack.config.*'
