Repository SNRose0317/EHR-CRM-System, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, frontend, backend, medication-builder, config, dependencies, tests, ci, types, styles

fix: Make Vercel deployment conditional on secrets being configured
  .github/workflows/deploy.yml
Labels: ci

chore: update build artifacts
  packages/medication-builder/tsconfig.tsbuildinfo
Labels: medication-builder

feat: implement domain terminology abstraction system
  packages/platform-core/src/App.tsx
  packages/platform-core/src/config/client.config.ts
  packages/platform-core/src/config/contact.config.ts
  packages/platform-core/src/config/index.ts
  packages/platform-core/src/config/patient.config.ts
  packages/platform-core/src/pages/PatientManagement.tsx
  packages/platform-core/src/services/index.ts
  packages/platform-core/src/services/medicationService.ts
  packages/shared/package.json
  packages/shared/src/domain/config.ts
  packages/shared/src/domain/context.tsx
  packages/shared/src/domain/index.ts
  packages/shared/src/domain/types.ts
  packages/shared/src/index.ts
Labels: none

feat: add comprehensive domain terminology abstraction system
  CLAUDE.md
  config/README.md
  config/deployment-presets/README.md
  config/deployment-presets/business-crm.ts
  config/deployment-presets/index.ts
  config/deployment-presets/sales-organization.ts
  config/deployment-presets/traditional-healthcare.ts
  config/environment.ts
  config/package.json
  config/tools/validate-config.ts
  config/users/README.md
  config/users/external/README.md
  config/users/external/primary/README.md
  config/users/external/primary/client.ts
  config/users/external/primary/contact.ts
  config/users/external/primary/customer.ts
  config/users/external/primary/index.ts
  config/users/external/primary/member.ts
  config/users/external/primary/participant.ts
  config/users/external/primary/patient.ts
  config/users/external/primary/subscriber.ts
  config/users/internal/README.md
  config/users/internal/medical-staff/physician.ts
  packages/platform-core/src/App.tsx
Labels: none

feat: add comprehensive test suite for configuration system
  config/__mocks__/@marek/shared.js
  config/__tests__/README.md
  config/__tests__/deployment-presets.test.ts
  config/__tests__/environment.test.ts
  config/__tests__/integration.test.ts
  config/__tests__/user-configurations.test.ts
  config/__tests__/validation-tools.test.ts
  config/jest.config.js
  config/jest.setup.ts
  config/package.json
  package.json
Labels: none

docs: add comprehensive terminology system implementation plans
  ENHANCED_PLAN.md
  FINAL_INTEGRATED_PLAN.md
  SIMPLIFIED_PLAN.md
Labels: none

.github/labeler.yml:

# Auto-labeling configuration for pull requests
# Simplified format for reliability

documentation:
- any: ['**/*.md', 'docs/**/*', '**/*.mdx']

frontend:
- any: ['packages/platform-core/**/*', 'packages/ui-kit/**/*']

backend:
- any: ['packages/shared/**/*', '**/api/**/*']

medication-builder:
- any: ['packages/medication-builder/**/*']

config:
- any: ['**/*.json', '**/*.yml', '**/*.yaml', '**/.*rc*', '**/.env*', '**/package.json']

dependencies:
- any: ['package.json', 'pnpm-lock.yaml', '**/package.json']

tests:
- any: ['**/*.test.*', '**/*.spec.*', '**/test/**/*', '**/__tests__/**/*']

ci:
- any: ['.github/**/*', '**/workflows/**/*']

types:
- any: ['**/types/**/*', '**/*.d.ts']

styles:
- any: ['**/*.css', '**/*.scss', '**/*.tailwind*']
